{% extends "base.html" %}
{% block title %}Profiles{% endblock title %}
{% block content %}
        <section class="container">
      <h1 class="large text-primary">
        Developers
      </h1>
      <p class="lead">
        <i class="fab fa-connectdevelop"></i> Browse and connect with developers
      </p>
{% for i in users %}
      <div class="profiles">
        <div class="profile bg-light">
          <img
            class="round-img"
            src="i.picture.url"
            alt=""
          />
          <div>
            <h2>{{i.user.username}}</h2>
            <p>Developer at Microsoft</p>
            <p>Seattle, WA</p>
            <a href="{% url "profile" i.id %}" class="btn btn-primary">
              View Profile
            </a>
          </div>

          <ul>
            <li class="text-primary"><i class="fas fa-check"></i> HTML</li>
            <li class="text-primary"><i class="fas fa-check"></i> CSS</li>
            <li class="text-primary">
              <i class="fas fa-check"></i> JavaScript
            </li>
            <li class="text-primary"><i class="fas fa-check"></i> Python</li>
          </ul>
        </div>
{% endfor %}

        </div>
      </div>
    </section>
{% endblock content %}