{% extends "base.html" %}
{% block title %}Post{% endblock title %}
{% block content %}
        <section class="container">
      <a href="posts.html" class="btn">Back To Posts</a>
      <div class="post bg-white p-1 my-1">
        <div>
          <a href="{{ post.author.get_absolute_url }}">
            <img
              class="round-img"
              src="{{post.author.picture.url}}"
              alt=""
            />
            <h4>{{ post.author.user.username }}</h4>
          </a>
        </div>
        <div>
          <p class="my-1">
            {{ post.body }}
          </p>
        </div>
      </div>

      <div class="post-form">
        <div class="post-form-header bg-primary">
          <h3>Leave A Comment</h3>
        </div>
        <form class="form my-1">
          <textarea
            name="text"
            cols="30"
            rows="5"
            placeholder="Comment on this post"
          ></textarea>
          <input type="submit" class="btn btn-dark my-1" value="Submit" />
        </form>
      </div>


    </section>
{% endblock content %}